[
  {
    "id": "jacks_project_board_automation",
    "execute-command": "/usr/bin/python3.8",
    "pass-environment-to-command": [
      {
        "source": "string",
        "envname": "GITHUB_TOKEN",
        "name": "GITHUB_TOKEN_HERE"
      }
    ],
    "pass-arguments-to-command": [
      {
        "source": "string",
        "name": "PATH_TO_WEBHOOK_RECEIVER_SCRIPT"
      },
      {
        "source": "header",
        "name": "X-GitHub-Event"
      },
      {
        "source": "entire-payload"
      }
    ],
    "trigger-rule": {
      "and": [
        {
          "match": {
            "type": "value",
            "value": "Cog-Creators/Red-DiscordBot",
            "parameter": {
              "source": "payload",
              "name": "repository.full_name"
            }
          }
        },
        {
          "match": {
            "type": "payload-hash-sha1",
            "secret": "SECRET_HERE",
            "parameter": {
              "source": "header",
              "name": "X-Hub-Signature"
            }
          }
        }
      ]
    }
  }
]
